<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Categories</title>
  </head>
  <body>
    <h1>All categories</h1>
    <% categories.map((category) => {%>

    <div>
      <h2><%= category.name %></h2>
      <a href="/categories/<%= category.id %>/edit">Edit this category</a>
    </div>
    <% })%>
  </body>
</html>
