<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Update Category</title>
  </head>
  <body>
    <form action="/categories/<%= category.id %>/" method="POST">
      <h1>Update the category <%= category.name %></h1>
      <input type="hidden" name="id" value="<%= category.id %>" />
      <div>
        <label for="">Name:</label><br />
        <input type="text" name="name" id="name" value="<%= category.name %>" />
      </div>

      <button type="submit">Update category</button>
    </form>
  </body>
</html>
