<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Category</title>
  </head>
  <body>
    <form action="/categories/new" method="post">
      <div>
        <label for="">Name:</label><br />
        <input type="text" name="name" id="name" />
      </div>

      <button type="submit">Create a new category</button>
    </form>
  </body>
</html>
