<header>
  <h1>
    Inventory Application
    <a href="https://github.com/odilson-dev/todo-list" target="_blank"
      ><i id="github-icon" class="fa-brands fa-github"></i
    ></a>
  </h1>
  <%- include('navbar', { links }) %>
</header>
