<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Item</title>
  </head>
  <body>
    <form action="/items/new" method="POST">
      <div>
        <label for="">Name:</label><br />
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="">Description:</label><br />
        <input type="text" name="description" id="description" />
      </div>
      <div>
        <label for="">Price:</label><br />
        <input type="text" name="price" id="price" />
      </div>
      <h2>The categories</h2>

      <% categories.map((category) => { %>
      <div>
        <input
          type="radio"
          name="categoryId"
          class="category"
          value="<%= category.id %>"
        />
        <label for=""><%= category.name %></label>
      </div>
      <% }) %>

      <button type="submit">Create a new item</button>
    </form>
  </body>
</html>
