<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create Item</title>
  </head>
  <body>
    <form action="/items/new" method="POST">
      <h1>Create items</h1>
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
      </div>
      <label for="description">Description:</label><br />

      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
      ></textarea>
      <div>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" />
      </div>
      <h2>The available categories:</h2>

      <% categories.map((category) => { %>
      <div>
        <input type="radio" name="categoryId" />
        <label for="categoryId"><%= category.name %></label>
      </div>
      <% }) %>

      <button type="submit">Create a new item</button>
    </form>
  </body>
</html>
