<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Item</title>
  </head>
  <body>
    <form action="/items/new" method="post">
      <div>
        <label for="">Name:</label><br />
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="">Description:</label><br />
        <input type="text" name="description" id="description" />
      </div>
      <div>
        <label for="">Price:</label><br />
        <input type="text" name="price" id="price" />
      </div>
      <div>
        <label for="">Category:</label><br />
        <input type="text" name="category" id="category" />
      </div>
      <button type="submit">Create a new item</button>
    </form>
  </body>
</html>
