<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Items</title>
  </head>
  <body>
    <h1>The list of items</h1>
    <% items.map((item) =>{ %>
    <div>
      <h2><%= item.name %></h2>
      <p>Description: <%= item.description %></p>
    </div>
    <p>Price: <%= item.price %></p>
    <a href="/items/<%= item.id %>/edit">Edit</a>
    <%}) %>
  </body>
</html>
