body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #009dc9;
  padding: 10px;
}
header > h1 {
  font-size: 30px;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 35px;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* ITEMS */
.items-section,
.categories-section {
  width: 60%;
  margin: auto;
}

.items-description {
  color: gray;
}
.item {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
  border: 3px solid rgb(150, 150, 150);
  border-radius: 5px;
  background-color: aliceblue;
  margin-bottom: 25px;
}
.category {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
  border: 3px solid rgb(96, 0, 185);
  border-radius: 5px;
  background-color: rgba(178, 150, 255, 0.774);
  margin-bottom: 25px;
}
.item-text > h2 {
  margin: 5px 0;
}
.item-text > p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}
.price-category-box > p {
  margin: 0;
}
.price-category-box {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.item-buttons,
.category-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.add-item-btn,
.add-category-btn {
  display: block;
  background-color: rgb(182, 248, 180);
  border: 3px solid green;
  border-radius: 5px;
  width: 100%;
  color: green;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
}
